*.txt filter=lfs diff=lfs merge=lfs -text
*.ini filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.uasset filter=lfs diff=lfs merge=lfs -text
*.umap filter=lfs diff=lfs merge=lfs -text
*.uproject filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.ush filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
*.modules filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.pdb filter=lfs diff=lfs merge=lfs -text
*.o filter=lfs diff=lfs merge=lfs -text
*.precompiled filter=lfs diff=lfs merge=lfs -text
/Plugins/UIWS/Intermediate/Build/Android/UnrealGame/Inc/UIWS/Timestamp filter=lfs diff=lfs merge=lfs -text
*.cpp filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
/Plugins/UIWS/Intermediate/Build/IOS/UnrealGame/Inc/UIWS/Timestamp filter=lfs diff=lfs merge=lfs -text
/Plugins/UIWS/Intermediate/Build/Mac/x86_64/UnrealEditor/Inc/UIWS/Timestamp filter=lfs diff=lfs merge=lfs -text
/Plugins/UIWS/Intermediate/Build/Mac/x86_64/UnrealGame/Inc/UIWS/Timestamp filter=lfs diff=lfs merge=lfs -text
*.lib filter=lfs diff=lfs merge=lfs -text
/Plugins/UIWS/Intermediate/Build/Win64/UnrealEditor/Inc/UIWS/Timestamp filter=lfs diff=lfs merge=lfs -text
*.obj filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.cs filter=lfs diff=lfs merge=lfs -text
*.uplugin filter=lfs diff=lfs merge=lfs -text
*.runtime-xml filter=lfs diff=lfs merge=lfs -text
*.log filter=lfs diff=lfs merge=lfs -text
*.dmp filter=lfs diff=lfs merge=lfs -text
*.tmp filter=lfs diff=lfs merge=lfs -text
